.catalog__main {
	position: fixed;
	top: calc(var(--navbar-height) + var(--filters-height));
	bottom: 0;
	right: 0;
	overflow-y: scroll;
	width: calc(100% - var(--leftPanel-width));
	padding: 20px;
	margin-top: calc(var(--catalog-header));
}

.catalog-loader {
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: center;
}

.catalog__col {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.catalog-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
