.custom-navbar {
	height: var(--navbar-height);
	/* background-color: var(--color-custom-navbar); */
	width: 100%;
	background: rgb(5, 0, 36);
	/* background: linear-gradient(
		243deg,
		rgb(93, 129, 177) 0%,
		rgb(164, 60, 173) 100%
	); */
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	flex-direction: column !important;
	gap: 10px;
}

.customNavbar__title {
	margin-left: 10px;
}
